<<<<<<< HEAD
.overlay {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
}

/* header */

.header {
    min-height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;

    padding: 95px 50px 100px 50px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 32px;

    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}

.header__menu-link {
    display: flex;
    flex-direction: row;

    text-transform: lowercase;
    text-underline-offset: 3.5px;
}

.header__menu-link:first-of-type {
    text-decoration: none;
}

.header__menu-link-dot {
    list-style: circle;

    padding-right: 6.5px;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

    padding-right: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0;

}

.header__contacts-line {
    text-decoration: underline;
    text-underline-offset: 4.5px;
}

.header__contacts-line:last-child {
    text-decoration: none;
}

/* cover */

.main__cover {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 106px;

    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 165px 50px 50px 50px;
}

.main__cover-title {
    position: relative;
    z-index: 2;

    height: 385px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.main__cover-title-left {
    text-align: left;
}

.main__cover-title-center {
    text-align: center;
}

.main__cover-title-right {
    text-align: right;
    margin-right: -0.3em;
}

.main__cover-description {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
}

.main__cover-description-phrase {
    flex: 1;

    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    word-spacing: 0.9em;
}

.main__cover-description-button {
    all: unset;

    display: inline-block;

    padding: 12px 32px 11px 31px;

    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid rgba(255, 255, 255, 1);

    cursor: pointer;
}

/* lots */

.main__lots {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 0 24px 0 24px;
    margin: 180px 0 120px 0;
}

.main__lots-title {
    padding-left: 40px;

    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.main__lots-more {
    padding-left: 40px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;

    text-decoration: underline;
    text-underline-offset: 5px;
}

.main__lots-list {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: black;
}

.main__lots-list li {
    all: unset;

    position: relative;

    width: 334px;
    min-height: 596px;
}

.main__lots-list li a {
    position: relative;

    text-decoration: none;

    width: 100%;
}

.main__lots-list-card {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 48px 40px 48px 40px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}

.main__lots-list-card-film {
    background-image: url("../images/card-lot-01.jpg");
}

.main__lots-list-card-book {
    background-image: url("../images/card-lot-02.jpg");
}

.main__lots-list-card-paint {
    background-image: url("../images/card-lot-03.jpg");
}

.main__lots-list-card-title {
    position: relative;
    z-index: 2;

    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;

    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-style: solid;
    text-underline-offset: 3.6px;
}

.main__lots-list-card-content {
    position: relative;
    z-index: 2;

    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
}

/* about */

.main__about {
    display: grid;
    grid-template-columns: 334px 1fr;

    padding: 35px 24px 0 47px;
    margin-bottom: 180px;

    min-height: 595px;
}

.main__about-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 240px;

    background-color: black;
    border-radius: 360px;
}

.main__about-logo-image {
    width: 136px;
    height: 102px;
}

.main__about-content {
    display: flex;
    flex-direction: column;
}

.main__about-content-title {
    flex: 1;

    display: flex;
    align-items: center;

    max-height: 240px;

    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;

}

.main__about-content-text {
    padding: 0 5px 0 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.main__about-content-text:first-of-type {
    margin: 8px 0 24px 0;
}

/* footer */

.footer {
    min-height: 180px;

    display: grid;
    grid-template-columns: 2fr 3fr 1fr;

    padding: 0 50px 0 50px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;

    padding-right: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0;
}

.footer__contacts-line {
    text-decoration: underline;
    text-underline-offset: 4.5px;
}

.footer__contacts-line:last-child {
    text-decoration: none;
}

.footer__menu {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-link {
    text-underline-offset: 3.56px;
}

.footer__menu-list-link-first {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item-link-icon {
    width: 48px;
    height: 48px;
}
=======
/* место для вашего кода */
>>>>>>> fab3e2409ff8351914656a8c3fd1aad360954fb8
